.container-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  padding: 7rem 2rem;
}

.button-general {
  background-color: $primary;
  color: white;
  font-size: 2rem;
  border-radius: 30%;
  padding: 1rem;
}

.message-container {
  position: absolute;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 0.5s;
  font-size: 1.5rem;
  height: 6rem;
  border: 2px solid black;
  text-align: center;
  padding: 0 1rem;
  P {
    width: 90%;
  }
}

.button-tech {
  font-size: 1rem;
  border-radius: 30%;
  padding: 0.5rem;
}

.button-css {
  background-color: #264de4;
  color: white;
}

.button-html {
  background-color: #e44d26;
  color: white;
}

.button-js {
  background-color: #f0db4f;
  color: #323330;
}
